WebContent/wsdl/WsTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="init">
    <complexType/>
   </element>
   <element name="initResponse">
    <complexType/>
   </element>
   <element name="inscriptionNotation">
    <complexType/>
   </element>
   <element name="inscriptionNotationResponse">
    <complexType/>
   </element>
   <element name="inscriptionAnnulation">
    <complexType/>
   </element>
   <element name="inscriptionAnnulationResponse">
    <complexType/>
   </element>
   <element name="rechercheActivite">
    <complexType/>
   </element>
   <element name="rechercheActiviteResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="inscriptionAnnulationResponse">

      <wsdl:part element="impl:inscriptionAnnulationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rechercheActiviteRequest">

      <wsdl:part element="impl:rechercheActivite" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscriptionNotationResponse">

      <wsdl:part element="impl:inscriptionNotationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscriptionAnnulationRequest">

      <wsdl:part element="impl:inscriptionAnnulation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initRequest">

      <wsdl:part element="impl:init" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="inscriptionNotationRequest">

      <wsdl:part element="impl:inscriptionNotation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="rechercheActiviteResponse">

      <wsdl:part element="impl:rechercheActiviteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initResponse">

      <wsdl:part element="impl:initResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WsTest">

      <wsdl:operation name="init">

         <wsdl:input message="impl:initRequest" name="initRequest">

       </wsdl:input>

         <wsdl:output message="impl:initResponse" name="initResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscriptionNotation">

         <wsdl:input message="impl:inscriptionNotationRequest" name="inscriptionNotationRequest">

       </wsdl:input>

         <wsdl:output message="impl:inscriptionNotationResponse" name="inscriptionNotationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscriptionAnnulation">

         <wsdl:input message="impl:inscriptionAnnulationRequest" name="inscriptionAnnulationRequest">

       </wsdl:input>

         <wsdl:output message="impl:inscriptionAnnulationResponse" name="inscriptionAnnulationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rechercheActivite">

         <wsdl:input message="impl:rechercheActiviteRequest" name="rechercheActiviteRequest">

       </wsdl:input>

         <wsdl:output message="impl:rechercheActiviteResponse" name="rechercheActiviteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsTestSoapBinding" type="impl:WsTest">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="init">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscriptionNotation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inscriptionNotationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inscriptionNotationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="inscriptionAnnulation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="inscriptionAnnulationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="inscriptionAnnulationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="rechercheActivite">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="rechercheActiviteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="rechercheActiviteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WsTestService">

      <wsdl:port binding="impl:WsTestSoapBinding" name="WsTest">

         <wsdlsoap:address location="http://localhost:8080/wayd/services/WsTest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
